.cache/
cache/
autosave/
backups/
eshell/
elpa/
auto-save-list/
transient/
anaconda-mode/
url/

.DS_Store
places
recentf
history
projectile-bookmarks.eld
.emacs.desktop
.persistent-scratch
*.elc
*.data
*~
custom.el
