.cache/
cache/
autosave/
backups/
eshell/
elpa/
rime/
auto-save-list/
transient/
anaconda-mode/
url/
request/
straight/build/
straight/modified/
straight/repos/
straight/build-cache.el

librime/

places
recentf
history
projectile-bookmarks.eld
custom.el

.DS_Store
.emacs.desktop
.persistent-scratch
*.elc
*.data
.mc-lists.el
*~
