[submodule "vendor/company-english-helper"]
	path = vendor/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "vendor/aweshell"]
	path = vendor/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "vendor/maple-imenu"]
	path = vendor/maple-imenu
	url = https://github.com/honmaple/emacs-maple-imenu.git
[submodule "vendor/snails"]
	path = vendor/snails
	url = https://github.com/manateelazycat/snails
