[submodule "awesome-tab"]
	path = vendor/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "company-english-helper"]
	path = vendor/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "vendor/aweshell"]
	path = vendor/aweshell
	url = https://github.com/manateelazycat/aweshell.git
